@model Endpoint.Site.Models.ReportsControllerModels.ReportToAddViewModel

@{
    ViewData["Title"] = "AddNewReport";
}

<h1>ثبت گزارش کار</h1>
@if (ViewBag.Error != null && ViewBag.Error != "")
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}



<div class="row justify-content-md-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-primary">
                    <h2 class="card-title" id="basic-layout-card-center">افزودن گزارش جدید</h2>
                </div>
            </div>
            <div class="card-body">
                <div class="px-3">
                    <form class="form" asp-action="AddNewReport">
                        <div class="form-body">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="date">تاریخ</label>
                                        <input type="text" id="date" asp-for="Date" class="form-control date">
                                        <span asp-validation-for="Date" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2">
                                    <diV class="row col-6">
                                        <div class="col-md-3">
                                            <label for="IsRemote">غیر حضوری</label>
                                        </div>
                                        <div class="col-3 d-flex align-items-center">
                                            <input id="isRemote" asp-for="IsRemote" />
                                        </div>
                                    </div>
                            </div>

                            <div id="noneRemote" class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="startPeriod">ساعت شروع کار</label>
                                        <input type="time" asp-for="BeginningTime" class="form-control" />
                                        <span asp-validation-for="BeginningTime" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="finishTime">ساعت پایان کار</label>
                                        <input type="time" id="finishTime" asp-for="FinishTime" class="form-control" />
                                        <span asp-validation-for="FinishTime" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div id="remote" class="row">
                                <label>مجموع ساعت کار</label>
                                <div class="col-6 col-md-2 d-flex align-items-center">
                                    <input asp-for="RemoteWorkedMinute" class="form-control m-1" style="width:72px" type="number"  min="0" max="59" value="@(Model?.RemoteWorkedMinute ?? 0)" />
                                    <span asp-validation-for="RemoteWorkedMinute" class="text-danger"></span>
                                    <b>
                                        :
                                    </b>
                                    <input asp-for="RemoteWorkedHour" class="form-control m-1" style="width:72px" type="number" min="0" max="23" value="@(Model?.RemoteWorkedHour ?? 0)" />
                                    <span asp-validation-for="RemoteWorkedHour" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="form-group mt-3">
                                <label for="reportDetail">توضیحات گزارش</label>
                                <textarea rows="8" id="reportDetail" class="col-12 form-control" asp-for="ReportsDetail"></textarea>
                                <span asp-validation-for="ReportsDetail" class="text-danger"></span>

                            </div>

                        </div>

                        <div class="form-actions center">
                            <a asp-action="GetReports">
                                <button type="button" class="btn btn-danger mr-1">
                                    <i class="icon-trash"></i> لغو
                                </button>
                            </a>
                            <button type="submit" class="btn btn-success">
                                <i class="icon-note"></i> ذخیره
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{

<script>

    var isRemote = @(Json.Serialize(Model?.IsRemote ?? false));

    $('#isRemote').on('change',function(){

        if($('#isRemote').is(':checked')){
            $('#remote').removeClass('d-none');
            $('#noneRemote').addClass('d-none');
        }
        else{
            $('#noneRemote').removeClass('d-none');
            $('#remote').addClass('d-none');
        }
    });

    $(document).ready(function(){
        if(isRemote)
            $('#noneRemote').addClass('d-none');
        else
            $('#remote').addClass('d-none');
    })
</script>

<script src="~/js/persian-date.min.js"></script>


<script src="~/js/persian-datepicker.min.js"></script>

<script type="text/javascript">

    $(document).ready(function() {
      $(".date").pDatepicker({
          initialValue:true,
          initialValueType:'persian',

          calendar:{
        persian: {
            locale: 'en'
        }
    },
          format:'L',
      });
    });
</script>



}

