@model Endpoint.Site.Models.ReportsControllerModels.EditReportViewModel

@{
    ViewData["Title"] = "EditReport";
}

<h1>ویرایش گزارش کار</h1>

@if (ViewBag.Error != null && ViewBag.Error != "")
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

<form asp-controller="Reports" asp-action="EditReport" method="post">
    <input type="hidden" asp-for="Date">
    <input type="hidden" asp-for="ReportId">

    <table class="table">
        <thead>
            <tr>
                <td>تاریخ</td>
                <td>ساعت شروع کار</td>
                <td>ساعت پایان کار</td>
                <td>حضوری/غیرحضوری</td>
                <td class="col-6">توضیحات</td>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    @Model.Date
                </td>
                <td>
                    <input type="time" asp-for="BeginningTime" />
                </td>
                <td>
                    <input type="time" asp-for="FinishTime" />
                </td>
                <td>
                    <input asp-for="IsRemote" />
                </td>
                <td class="col-6">
                    <textarea rows="8" class="col-12" asp-for="ReportsDetail"></textarea>
                </td>
            </tr>

        </tbody>
    </table>
    <button class="btn btn-primary" type="submit">ثبت تغییرات</button>
</form>






