@model Endpoint.Site.Areas.Admin.Models.UserControllerModels.UserToEditViewModel

@{
    ViewData["Title"] = "EditUserInformation";
}

<h1>ویرایش اطلاعات کاربر</h1>

<hr />

<div class="row justify-content-md-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="card-title-wrap bar-success">
                    <h4 class="card-title" id="basic-layout-form">فرم ثبت نام کاربر جدید</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="px-3">
                    @if (ViewBag.Error != "" && ViewBag.Error != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.Error
                        </div>
                    }
                    <form asp-area="Admin" asp-controller="Users" asp-action="EditUserInformation">
                        <input type="hidden" asp-for="UserId" />

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="FName" class="control-label"></label>
                            <input asp-for="FName" class="form-control" />
                            <span asp-validation-for="FName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LName" class="control-label"></label>
                            <input asp-for="LName" class="form-control" />
                            <span asp-validation-for="LName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="NationalCode" class="control-label"></label>
                            <input asp-for="NationalCode" class="form-control" />
                            <span asp-validation-for="NationalCode" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Position" class="control-label"></label>
                            <input asp-for="Position" class="form-control" />
                            <span asp-validation-for="Position" class="text-danger"></span>
                        </div>

                        <div class="form-actions center">
                            <a asp-action="UsersList">
                                <button type="button" class="btn btn-danger mr-1">
                                    <i class="icon-trash"></i> لغو
                                </button>
                            </a>
                            <button type="submit" class="btn btn-success">
                                ثبت تغییرات
                            </button>
                        </div>

                    </form>


                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="row">
    <div class="col-md-4">
        @if (ViewBag.Error != "" && ViewBag.Error != null)
        {
            <div class="alert alert-danger">
                @ViewBag.Error
            </div>
        }
        <form asp-area="Admin" asp-controller="Users" asp-action="EditUserInformation">
            <input type="hidden" asp-for="UserId" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NationalCode" class="control-label"></label>
                <input asp-for="NationalCode" class="form-control" />
                <span asp-validation-for="NationalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ثبت تغییرات" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
*@
<div>
    <a asp-action="UsersList">مشاهده لیست</a>
</div>

