
@{
    ViewData["Title"] = "Login";
}

@*@model UserLoginModel*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود</title>
    <!-- font---------------------------------------->
    <link rel="stylesheet" href="~/SiteTemp/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/SiteTemp/assets/css/vendor/materialdesignicons.css">
    <!-- plugin-------------------------------------->
    <link rel="stylesheet" href="~/SiteTemp/assets/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="~/SiteTemp/assets/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="~/SiteTemp/assets/css/vendor/noUISlider.min.css">
    <!-- main-style---------------------------------->
    <link rel="stylesheet" href="~/SiteTemp/assets/css/main.css">
    <link href="~/SiteTemp/assets/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
</head>
<body>

    <!-- login----------------------------------->
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <section class="page-account-box">
                    <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                        <div class="ds-userlogin">
                            @*<a href="#" class="account-box-logo">digismart</a>*@
                            <div class="account-box">
@*                                <div class="account-box-headline">
                                    <a href="" class="login-ds active">
                                        <span class="title">ورود</span>
                                        <span class="sub-title">به Mystore</span>
                                    </a>
                                    <a href="register" class="register-ds">
                                        <span class="title">ثبت نام</span>
                                        <span class="sub-title">در MyStore</span>
                                    </a>
                                </div>
*@                                <div class="Login-to-account mt-4">
                                    <div class="account-box-content">
                                        <h4>ورود به حساب کاربری</h4>
                                        @*<form action="#" class="form-account text-right">*@
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        @*<div class="form-account-title">
                                            <label for="email-phone">ایمیل</label>
                                            <input asp-for="Email" type="text" class="number-email-input" id="email" name="email">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-account-title">
                                            <label for="password">رمز عبور</label>
                                            <input asp-for="Password" type="password" class="password-input" name="password" id="password">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>*@
                                        <form asp-controller="Account" asp-action="Login">
                                        <div class="form-account-title">
                                            <label for="userName">ایمیل</label>
                                            <input type="email" class="number-email-input" id="email" name="userName">
                                        </div>
                                        <div class="form-account-title">
                                            <label for="password">رمز عبور</label>
                                            <input type="password" class="password-input" id="password" name="password">
                                        </div>
                                        <div class="form-check form-account-title">
                                            <input class="form-check-input mt-3 w-50" type="checkbox" name="isPersistent">
                                            <label class="form-check-label position-relative w-25" for="isPersistent">
                                                مرا به خاطر بسپار
                                            </label>
                                        </div>
                                        <div class="m-3">
                                            <a href="~/ForgotPassword">رمز عبور خود را فراموش کرده اید؟</a>
                                        </div>
                                        <div class="form-row-account">
                                            <button type="submit" @*id="login"*@ class="btn btn-primary btn-login">ورود</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- login----------------------------------->
    <!-- scroll_Progress------------------------->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    <!-- scroll_Progress------------------------->

</body>
<!-- file js---------------------------------------------------->
<script src="~/SiteTemp/assets/js/vendor/jquery-3.2.1.min.js"></script>
<script src="~/SiteTemp/assets/js/vendor/bootstrap.js"></script>
<!-- plugin----------------------------------------------------->
<script src="~/SiteTemp/assets/js/vendor/owl.carousel.min.js"></script>
<script src="~/SiteTemp/assets/js/vendor/jquery.countdown.js"></script>
<script src="~/SiteTemp/assets/js/vendor/ResizeSensor.min.js"></script>
<script src="~/SiteTemp/assets/js/vendor/theia-sticky-sidebar.min.js"></script>
<script src="~/SiteTemp/assets/js/vendor/wNumb.js"></script>
<script src="~/SiteTemp/assets/js/vendor/nouislider.min.js"></script>
<!-- main js---------------------------------------------------->
<script src="~/SiteTemp/assets/js/main.js"></script>
<script src="~/SiteTemp/assets/Sweetalert2/sweetalert2.min.js"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



<script>

 //   console.log('ssssssssssss');

    document.getElementById('login').addEventListener('click', login);
  //  $('#login').on('click', login);


    function login() {

        var email = $('#email').val();
        var password = $('#password').val();
        var isPersistent = $('#isPersistent').is(':checked');

        console.log(isPersistent);

        var postData = {
            'userName': email,
            'password': password,
            'isPersistent': isPersistent
        };

        $.ajax({
            contetType: "application/x-www-form-urlencoded",
            dataType: 'json',
            type: "POST",
            url: "Login",
            data: postData,
            success: data => {
                if (data.succeeded) {
                    swal.fire({
                        title: "موفق!",
                        text: data.message,
                        icon: "success",
                        confirmButtonColor: '#3085d6',
                        confirmButtonText: "باشه"
                    }).then(p => location.replace("/"));

                } else {
                    swal.fire({
                        title: "ناموفق!",
                        text: data.message,
                        icon: "warning",
                        confirmButtonColor: '#d33',
                        confirmButtonText: "باشه"
                    })

                }
            }
        });




    }







</script>







</html>
